In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('medicare-physician-and-other-supplier-national-provider-identifier-npi-aggregate-report-calendar-year-2016 - Copy.csv')

C:\Users\lzeng\AppData\Local\Continuum\anaconda3\envs\[Lance]\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head(5)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,42.0,53.0,67.0,75.0,53.0,12.0,49.0,9.0,13.0,2.0239
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,13.0,21.0,46.0,54.0,26.0,9.0,38.0,1.0,3.0,1.0925
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,50.0,37.0,53.0,73.0,37.0,8.0,75.0,6.0,5.0,1.5809
3,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,47.0,40.0,69.0,75.0,64.0,15.0,43.0,12.0,14.0,2.0000
4,1003000423,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,...,28.0,27.0,41.0,52.0,21.0,NaN,46.0,NaN,0.0,0.9540

In [7]:
list(data.columns).index('Provider Type of the Provider')

13

In [20]:
df = data.iloc[:, 0:14].copy()
df = df[df['Entity Type of the Provider'] == 'I']

In [23]:
df = df.iloc[0:250000, :]

In [4]:
data.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type of the Provider',
       'Medicare Participation Indicator', 'Number of HCPCS',
       'Number of Services', 'Number of Medicare Beneficiaries',
       'Total Submitted Charge Amount', 'Total Medicare Allowed Amount',
       'Total Medicare Payment Amount',
       'Total Medicare Standardized Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Medicare Beneficiaries With Drug Services',
       'Total Drug Submitted Charge Amount',
       'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount',
       'Total Drug Medicare Standardized Payment Amount',
       'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Medicare Beneficiaries With Medical Services',
       'Total Medical Submitted Charge Amount',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount',
       'Total Medical Medicare Standardized Payment Amount',
       'Average Age of Beneficiaries', 'Number of Beneficiaries Age Less 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries\t',
       'Number of Non-Hispanic White Beneficiaries\t',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Alzheimerâ€™s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

In [24]:
df.to_csv('Physicians.csv')

# Shuffle Hospitals:

In [12]:
hospitals = pd.read_csv('hospital.csv')
hospitals.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,Emergency Services,Meets criteria for meaningful use of EHRs,Hospital overall rating,Phone Number.1
0,1,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,2565938310,Acute Care Hospitals,Government - Hospital District or Authority,True,True,3,248-495-9088
1,2,DEKALB REGIONAL MEDICAL CENTER,200 MED CENTER DRIVE,FORT PAYNE,AL,35968,DE KALB,2568453150,Acute Care Hospitals,Proprietary,True,True,3,970-391-6196
2,3,WEDOWEE HOSPITAL,209 NORTH MAIN STREET,WEDOWEE,AL,36278,RANDOLPH,2563572111,Acute Care Hospitals,Government - Hospital District or Authority,True,True,4,543-163-2599
3,4,HALE COUNTY HOSPITAL,508 GREEN STREET,GREENSBORO,AL,36744,HALE,3346243024,Acute Care Hospitals,Government - Local,True,True,Not Available,173-414-1954
4,5,CRESTWOOD MEDICAL CENTER,ONE HOSPITAL DR SE,HUNTSVILLE,AL,35801,MADISON,2568823100,Acute Care Hospitals,Proprietary,True,True,3,909-433-9591

In [14]:
hospitals = hospitals.sample(frac=1).reset_index(drop=True)

In [22]:
small_hospitals = hospitals.iloc[0:1000].copy()
small_hospitals.drop('Provider ID', axis = 1, inplace = True)

In [23]:
small_hospitals.to_csv('small_hospitals.csv')

# Create Visit Table:

In [8]:
patients = pd.read_csv('patients.csv')
insurance = pd.read_csv('health insurance.csv')

In [9]:
patients.head()

,id,first_name,last_name,email,gender,phone_number,street,state,zip_code,insurance_id
0,1,Eva,Trotman,etrotman0@php.net,Female,716-919-0851,00 Spaight Plaza,New York,14263,9
1,2,Modesta,Keets,mkeets1@ibm.com,Female,321-802-5010,47827 Birchwood Place,Florida,32825,121
2,3,Dewie,De Dei,ddedei2@gnu.org,Male,775-101-1334,38089 Barby Court,Nevada,89595,44
3,4,Floyd,Maestro,fmaestro3@parallels.com,Male,239-102-5652,529 Gina Alley,Florida,34114,75
4,5,Amelie,Paylie,apaylie4@google.ru,Female,301-413-5777,36 Lunder Hill,Maryland,20784,207

In [10]:
insurance.head(5)

,Insurance_Id,Type of Insurer,Company Name,Year,Assets,Liabilities,Premium Written
0,1,HMO,Aetna Health Inc.,2016,264675036,50287241,"174,203,509"
1,2,A&H,Aetna Health Insurance Company of New York,2016,10461315,287140,"157,474"
2,3,MCH,Allegany-Cattaraugus Schools Medical Health Plan,2016,31000025,12752424,"45,239,771"
3,4,HMO,"Alphacare of New York, Inc.",2016,46967357,28389712,"138,475,699"
4,5,A&H,American Independent Network Insurance Company...,2016,23770607,43561275,"2,271,595"

In [7]:
insurance.shape

(221, 6)